.dashboardButton {
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn {
    -fx-padding: 10;
    -fx-font-size: 12;
}

.btn:hover {
    -fx-background-color: #ace2ac;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

.btnMenu {
    -fx-text-fill: #ffffff;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

.btnMenu:hover {
    -fx-background-color: #396042;
    -fx-scale-y: 1.12;
    -fx-scale-x: 1.12;
}


.background {
    -fx-background-color: #e8fcde;
}