.table-view {
    -fx-focus-color: transparent;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #a0e8a4;
    -fx-border-color: #29292D;
}
.table-view .column-header .label{
   -fx-text-fill: black;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}

.table-view .cell: selected{
    -fx-background-color: #e4f4d9;
    -fx-text-background-color: #000000;
}

.table-view .cell{
  -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: black;
  -fx-alignment: CENTER_LEFT;

}